<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<!DOCTYPE html>
<html>
<head>
<style>
body {
  
  background-image: <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fbe.linkedin.com%2Fschool%2Fkuleuven-gent-fiiw%2F&psig=AOvVaw3pVTxKjjk-sxxUcqivZxUr&ust=1714075523734000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCNDrmIjT24UDFQAAAAAdAAAAABAE" alt="foto arduino">;
  background-repeat: repeat;
  background-size: 200px 200px;
}

h1 {
  color: blue;
  text-align: center;
  font-family: times new roman;
  font-size: 40px;
}

p {
  font-family: verdana;
  font-size: 20px;
}
</style>
</head>

</html>
